In [20]:
!pip install mysql-connector

Collecting mysql-connector
  Using cached mysql-connector-2.2.9.tar.gz (11.9 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247946 sha256=0c47c9ac95a86c5c6d68e45323361e3fbf6c4fc28d3f80e9ac01549bbec12069
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [21]:
import mysql.connector

In [22]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd=""
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001E57B3598E0>

In [31]:
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE Authorized_User")

In [32]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('authorized_user',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('students',)
('test',)

In [33]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd="",
database="Authorized_User"
)
mycursor=mydb.cursor()
mycursor.execute("create table my_table(id int primary key,Name varchar(50),Age int,Address varchar(50) )")

In [34]:
mycursor.execute("SHOW Tables")
for x in mycursor:
    print(x)

('my_table',)

In [28]:
sql="INSERT INTO stu_table(id,name,age) values(%s,%s,%s)"
val=(1,"Rishabh",21)
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount,"Record Inserted")

1 Record Inserted

In [29]:
mycursor.execute("SELECT *from stu_table")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'Rishabh', 21)